.page#projects
  h1 PROJECTS
  .dashed.timeline
    .dashed-spacer
  .timeline 
    each project in htmlWebpackPlugin.options.data.projects
      .container(data-aos="fade-up")
        .content
          h2= project.company
          h3= project.name
          p!= project.description.split('\n').join("<br>")
          .flat-list
            ul
              each skill in project.skills
                li=skill
        .timedot
          .time=project.time
  .dashed.timeline
    .dashed-spacer